.boxDoados{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 70vh;
    align-items: center;
    

}

.boxBooks{
    width: 85vw;
    height: 60vh;
    article{
        border: solid 2px #005695;
        width: 15vw;
        height: 32vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 15px;
    }
}
